<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- <link rel="shortcut icon" href="http://www.loadjunction.com/portalimages/UserLogin.png" type="image/x-icon"> -->
    <title>Contacto | Video stream</title>
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script src="script.js" defer></script>
</head>

<body>

    <main class="video-grid" id="video-grid"></main>
    <div class="chat-parent">
        <div class="chat" id="chat">
            <div class="chat__header">
                <h6>Chat</h6>
            </div>
            <div class="chat__messages-container">
                <ul class="chat__messages" id="chat-messages">
        
                </ul>
        
            </div>
            <div class="main__input-container">
                <input class="chat__input" id="chat_message" type="text" placeholder="Escriba un mensaje aquí...">
            </div>
        </div>
    </div>
    <div class="controls">
        <div onclick="muteUnmute()" class="controls__mute-button">
            <i class="fas fa-microphone"></i>
            <span>Detener audio</span>
        </div>
        <div onclick="playStop()" class="controls__video-button">
            <i class="fas fa-video"></i>
            <span>Detener video</span>
        </div>
        <div class="controls__chat-button" id="chat-button">
            <i class="fas fa-comment-alt"></i>
            <span>Chat</span>
        </div>
    </div>

    <!-- <div class="main">
        <div class="main__left">
            <div class="main__videos">
                <div class="video-grid" id="video-grid">

                </div>
            </div>
            <div class="main__controls">
                <div class="main__controls__block">
                    <div onclick="muteUnmute()" class="main__controls__button main__mute_button">
                        <i class="fas fa-microphone"></i>
                        <span>Detener audio</span>
                    </div>
                    <div onclick="playStop()" class="main__controls__button main__video_button">
                        <i class="fas fa-video"></i>
                        <span>Detener video</span>
                    </div>
                </div>
                <div class="main__controls__block">
                    <a href="https://gitlab.com/LeonEmil/contacto-streaming-platform" target="_blank" class="info-link">
                        <div class="main__controls__button">
                            <i class="fas fa-info-circle"></i>
                            <span>Información</a></span>
                        </div>
                    </a>
                    <div class="main__controls__button">
                        <i class="fas fa-comment-alt"></i>
                        <span>Chat</span>
                    </div>
                </div>
                <div class="main__controls__block">
                    <div class="main__controls__button">
                        <span class="leave_meeting">Recuerde que pasar demasiado tiempo frente a la computadora <br> es perjudicial para la salud</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat">
            <div class="chat__header">
                <h6>Chat</h6>
            </div>
            <div class="chat__messages-container">
                <ul class="chat__messages">

                </ul>

            </div>
            <div class="main__input-container">
                <input id="chat_message" type="text" placeholder="Escriba un mensaje aquí...">
            </div>
        </div>
    </div> -->
</body>

</html>