.main {
    height: 100vh;
    display: flex;
}

.main__left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main__right {
    flex: 0.2
}

.main__videos {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.main__controls {
    background-color: #1C1E20;
}

.main__right {
    background-color: #242324;
    border-left: 1px solid #3D3D42;
}

.main__controls {
    
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.main__controls__block {
    display: flex;
}

[class*="controls__"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

[class*="controls__"]:hover {
    background-color: #343434;
    color: #D2D2D2;
    border-radius: 5px;
}

[class*="controls__"] i {
    font-size: 24px;
}

.main__right {
    display: flex;
    flex-direction: column;
}

.chat__header {
    padding-top: 5px;
    color: #F5F5F5;
    text-align: center;
}

.chat__messages-container {
    flex-grow: 1;
    overflow-y: auto;
}

.chat__messages{
    color: white;
    list-style: none;
}

.chat__input-container {
    padding: 22px 12px;
    display: flex;
}

.chat__input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}

.video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

video {
    width: 400px;
    object-fit: cover;
    padding: 7px;
}

.leave_meeting {
    font-size: .7em;
    color: steelblue;
}

.unmute, .stop {
    color: steelblue;
}

.info-link {
    color: white;
}

.info-link:hover {
    color: white;
}

/* Responsive styles */

* {
	box-sizing: border-box;
}

:root {
	--controls-size: 70px;
	--video-grid-color: black;
	--chat-color: #242324;
	--controls-color: #D2D2D2;
}

body {
	position: fixed;
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden; 
    background-color: var(--chat-color);
}

.video-grid {
    position: fixed;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-content: start;
	flex-wrap: wrap;
	gap: 5px;
	padding: 20px;
	height: calc(100vh - var(--controls-size));
	overflow-y: scroll;
	transition: width 1s;
	background-color: var(--video-grid-color);
    scrollbar-color: var(--video-grid-color);
}

.video-grid__container {
	height: 100%;
	width: 100%;
}

.video-grid__video {
	width: 300px;
}

.chat-parent {
    position: absolute;
    bottom: var(--controls-size);
    height: var(--controls-size);
    width: 100vw;
}

.chat {
    display: flex;
    flex-direction: column;
	position: fixed;
	bottom: var(--controls-size);
	right: -60vw;
	height: calc(100vh - var(--controls-size));
	width: 60vw;
	transition: right 1s;
    border-left: 1px solid #3D3D42;
    background-color: var(--chat-color);
}

.chat__messages-container {
    scrollbar-color: var(--chat-color);
    -webkit-scrollbar-color: var(--chat-color);
}

.chat__input {
    padding: 1em;
}

.controls {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: var(--controls-size);
	background-color: var(--controls-color);
}

@media screen and (min-width: 600px){
	.chat {
		width: 45vw;
		right: -45vw;
	}
}

@media screen and (min-width: 960px){
	.chat {
		width: 25vw;
		right: 0;
	}
}

@media screen and (min-width: 1280px){
	.chat {
		width: 30vw;
	}
}